extends ./layouts/layout-index
pageTitle="Главная страница"
block content
	.container
		h1.page__title.text-left.m-b-45
			| Ответы на вопросы
	.faq
		.container
			.row
				.col-xs-36
					span.hline.hline--size-4.m-b-45(id="faq-1")
					.faq__item
						h2.faq__item-title
							span
								| 1. 
							| Предварителная оценка затрат
						.faq__item-content
							p
								| Чтобы вам было удобнее прогнозировать затраты мы получив от вас список задач по сайту делаем предварительную оценку по времени его исполнении и бюджету.
						span.hline.m-b-35.m-t-40(id="faq-2")
					.faq__item
						h2.faq__item-title
							span
								| 2. 
							| В процессе изменения сайта у вас появились новые идеи, которые лучше чем те которые сейчас мы реализуем 
						.faq__item-content
							p
								| Получив от вас обновленное задание мы делаем экспресс оценку, из которой будет понятно как новые идеи меняют бюджет сроки. И мы изменим рабочий план, если вы примете решения что лучше идти по новому планы работ.
						span.hline.m-b-35.m-t-40(id="faq-3")
					.faq__item
						h2.faq__item-title
							span
								| 3. 							
							| Предварителная оценка затрат
						.faq__item-content
							p
								| Если это наш брак, то мы бесплатно его переделываем и дадим вам скидку в 25% на ранее озвученный бюджет.
							p
								| Иначе мы проводим с вами минипереговоры и согласовываем бюджет на переделки. Обычно обе стороны идут на уступки, так как плохой результат может быть следствие ошибок в постановке задачи и ошибок в ее исполнении.
						span.hline.m-b-35.m-t-40(id="faq-4")
					.faq__item
						h2.faq__item-title
							span
								| 4. 
							| Сео продвижение сайта
						.faq__item-content
							p
								| Мы не специалисты в вопросах продвижения, но мы можем выполнить настройку сайта на основе советом Яндекс и Гугл по настройке сайта. Так как данные советы однозначно понятны и их результат виден на страницах сайта. 
						span.hline.m-b-35.m-t-40(id="faq-5")
					.faq__item
						h2.faq__item-title
							span
								| 5. 
							| Безопасность и обновление сайта.
						.faq__item-content
							p
								| Если ваш хостинг позволяет, то мы в своей работе использует git - распределенная система контроля версий. Все правки вашего сайта делаем на нашей тестовой площадке и при помощи git репозиторий обновляем ваш сайт. Это дает возможность быстро обновлять ваш сайт новые наработками и сохранять его постоянную работоспособность. 
						
				.col-xs-8.col-xs-offset-4
					span.hline.hline--size-4.m-b-45
					.nav.nav__right.js-nav__right
						li
							a(href="",data-target="faq-1")
								span.decorate
									| Предварителная оценка затрат
						li
							a(href="",data-target="faq-2")
								span.decorate
									| В процессе изменения сайта у вас появились новые идеи, которые лучше чем тем которые сейчас мы реализуем. 
						li
							a(href="",data-target="faq-3")
								span.decorate
									| Результат изменений вам не нравится.
						li
							a(href="",data-target="faq-4")
								span.decorate
									| Сео продвижение сайта
						li
							a(href="",data-target="faq-5")
								span.decorate
									| Безопасность и обновление сайта.
