extends ./layouts/layout-index
pageTitle="Главная страница"
block content
	.container.advantages
		.advantages__title
			| Преимущества
		.row
			.col-xs-55
				.advantages__item
					i.icons.icons--adv-money
					h3.advantages__item-name
						| Низкая цена
					.advantages__item-anons
						p
							| Всего 249
							span.rub.m-l-2.m-r-5 a
							| за скачивание
							| одной диссертации
			.col-xs-55
				.advantages__item
					i.icons.icons--adv-preview
					h3.advantages__item-name
						| Предпросмотр
					.advantages__item-anons
						p
							| Бесплатный просмотр
							| первых 20 страниц
							| любой диссертации
			.col-xs-55
				.advantages__item
					i.icons.icons--adv-cabinet
					h3.advantages__item-name
						| Личный кабинет
					.advantages__item-anons
						p
							| Личный кабинет
							| с историей всех ваших покупок и возможность
							| их повторного скачивания бесплатно и в любое время
			.col-xs-55
				.advantages__item
					i.icons.icons--adv-is-free
					h3.advantages__item-name
						| Одна бесплатно
					.advantages__item-anons
						p
							| Скачать 1 диссертацию
							| бесплатно по акции. 
							br
							a(href="#")
								span.decorate
									| Подробнее
			.col-xs-55
				.advantages__item
					i.icons.icons--adv-sale
					h3.advantages__item-name
						| Скидки
					.advantages__item-anons
						p
							| 75 диссертаций за 4900 a
							| по акции.
							a.m-l-5(href="#")
								span.decorate
									| Подробнее
	.warranty
		.container
			.row
				.col-xs-12
					h2.warranty__title
						| Гарантии
					i.icons.icons--warranty
					p
						| Мы возращаем деньги на карточку или баланс сотового, если возникли проблемы
						| с файлом диссертации
				.col-xs-26

				.col-xs-10
					h2.warranty__title
						| &nbsp;
					i.icons.icons--rating
					p
						| Высокий рейтинг
						| в платежной системе onpay, к которой мы
						| подключены с 2010 г.