footer.footer
	.container
		.row
			.col-xs-12
				p
					| © 2016 
					a(href="#")
						span.decorate
							| Spacebox
			.col-xs-24
				ul.nav.footer__nav.nav-justified
					li
						a(href="#")
							span.decorate
								| Ответы на вопросы
					li
						a(href="#")
							span.decorate
								| Отзывы
					li
						a(href="#")
							span.decorate
								| Контакты
			.col-xs-12
				| &#160;