footer.footer
	.container
		.row
			.col-xs-38
				p
					a.m-r-50(href="#")
						span.decorate
							| Я впервые на этом сайте
					a.m-r-50(href="#")
						span.decorate
							| Гарантии
					a.m-r-50(href="#")
						span.decorate
							| Как пополнить счет?
					a.m-r-50(href="#")
						span.decorate
							| Задать вопрос
				p
					| ver. 3.2 от 18.02.2016
			.col-xs-10
				p
					| © 2007—2015,
					br
					a(href="#")
						span.decorate
							| ООО «Вычислительная техника»
					br
					| ОГРН 1096767644432