header.header
	.container
		.row
			.col-xs-16
				a(id="spacebox-logo", href="#") 
			.col-xs-24
				ul.nav.header__nav.nav-justified
					li
						a(href="#")
							span.decorate
								| Ответы на вопросы
					li
						a(href="#")
							span.decorate
								| Отзывы
					li
						a(href="#")
							span.decorate
								| Контакты
			.col-xs-8
				a.btn.btn--red.btn--md(href="")
					i.icons.icons--application
					| Оставить заявку