header.header
	.container
		.row
			.col-xs-16
				a(id="spacebox-logo", href="#") 
			.col-xs-24
				ul.nav.header__nav.nav-justified
					li
						a(href="faq.html")
							span.decorate
								| Ответы на вопросы
					li
						a(href="reviews.html")
							span.decorate
								| Отзывы
					li
						a(href="contacts.html")
							span.decorate
								| Контакты
			.col-xs-8
				a.btn.btn--red.btn--md(href="",data-target="form")
					i.icons.icons--application
					| Оставить заявку