header.header.header--inner
	.container
		.row.header__first-line
			.col-xs-38
				a.header__href(href="basket.html")
					i.icons.icons--basket
					span.decorate Корзина
			.col-xs-10
				.clearfix
					a.header__href.pull-left(href="#")
						i.icons.icons--lock
						span.decorate Войти
					a.header__href.pull-right(href="#")
						i.icons.icons--personal
						span.decorate Зарегистрироваться