
.icons {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	
	&:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 100;
	}
	
	&--pdf {
		&:after {
			.sprite(@pdf);
		}
	}
	
	&--application {
		&:after {
			.sprite(@application);
		}
	}
	
	&--works-hour {
		&:after {
			.sprite(@works-hour);
		}
	}
	
	&--accounting {
		&:after {
			.sprite(@accounting);
		}
	}
	
	&--per-month {
		&:after {
			.sprite(@per-month);
		}
	}
	
}
